
#aspect-content {
    margin: 0px 0 0;
}

#aspect-content * {
    box-sizing: border-box;
}

.aspect-tab {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 15px;
    background-color: #292929;
    /*  box-shadow: 0 0 0 1px #ececec;*/
    opacity: 1;
    transition: box-shadow .2s, opacity .4s;
    border-radius: 8px;
}

.aspect-tab:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.aspect-input {
    visibility:hidden;
    /*  display: none;*/
    position: absolute;
    z-index: -20;
}

.aspect-input:checked ~ .aspect-content + .aspect-tab-content {
    max-height: 3000px;
    /*    transition: 2s;*/
}

.aspect-input:checked ~ .aspect-content:after {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI5OC42NjcgMjk4LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjk4LjY2NyAyOTguNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiBjbGFzcz0iIj48Zz48Zz4KICAgIDxnPgogICAgICAgIDxyZWN0IHk9IjEyOCIgd2lkdGg9IjI5OC42NjciIGhlaWdodD0iNDIuNjY3IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjRkZGRkZGIi8+CiAgICA8L2c+CiAgICA8L2c+PC9nPiA8L3N2Zz4K");
}

.aspect-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 1;
    cursor: pointer;
}
.aspect-label:hover ~ .aspect-content:after {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDQ4IDQ0OCIgd2lkdGg9IjUxMnB4IiBjbGFzcz0iIj48Zz48cGF0aCBkPSJtMjcyIDE4NGMtNC40MTc5NjkgMC04LTMuNTgyMDMxLTgtOHYtMTc2aC04MHYxNzZjMCA0LjQxNzk2OS0zLjU4MjAzMSA4LTggOGgtMTc2djgwaDE3NmM0LjQxNzk2OSAwIDggMy41ODIwMzEgOCA4djE3Nmg4MHYtMTc2YzAtNC40MTc5NjkgMy41ODIwMzEtOCA4LThoMTc2di04MHptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjRkZGRkZGIi8+PC9nPiA8L3N2Zz4K");
}

.aspect-content {
    position: relative;
    display: block;
    /*  height: 80px;*/
    margin: 0;
    padding: 0 70px 0 20px;
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 8px;
}
.aspect-content:before, .aspect-content:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.aspect-content:before {
    height: 100%;
}
.aspect-content:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 30px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDQ4IDQ0OCIgd2lkdGg9IjUxMnB4IiBjbGFzcz0iIj48Zz48cGF0aCBkPSJtMjcyIDE4NGMtNC40MTc5NjkgMC04LTMuNTgyMDMxLTgtOHYtMTc2aC04MHYxNzZjMCA0LjQxNzk2OS0zLjU4MjAzMSA4LTggOGgtMTc2djgwaDE3NmM0LjQxNzk2OSAwIDggMy41ODIwMzEgOCA4djE3Nmg4MHYtMTc2YzAtNC40MTc5NjkgMy41ODIwMzEtOCA4LThoMTc2di04MHptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjRkZGRkZGIi8+PC9nPiA8L3N2Zz4K");
    background-repeat: round;
    background-position: center;
    transform: rotate(180deg);
}

.aspect-name {
    display: inline-block;
    /*  margin-left: 16px;*/
    color: #fff;
    white-space: normal;
    text-align: left;
    vertical-align: middle;
}

.aspect-stat {
    width: 40%;
    text-align: right;
}

.all-opinions,
.aspect-name {
    font-size: 14px;
    line-height: 22px;
}

.all-opinions {
    color: #5d5d5d;
    text-align: left;
}

.aspect-content + .aspect-tab-content {
    max-height: 0;
    overflow: hidden;
    /*    transition: max-height .8s;*/
    /*    transition: 1.5s;*/
}

.aspect-content > div,
.aspect-stat > div {
    display: inline-block;
}

.aspect-content > div {
    vertical-align: middle;
}

.aspect-info {
    width: 80%;
    white-space: nowrap;
    font-size: 0;
}
.aspect-info:before {
    content: '';
    display: inline-block;
    height: 44px;
    vertical-align: middle;
}


.second-fill {
    position: absolute;
    clip: rect(0, 22px, 44px, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
}

.aspect-tab-content {
    background-color: #292929;
    /*  font-size: 0;*/
    text-align: justify;
    color: #fff;
    border-top: 1px solid #707070;
    margin-top: 30px;
}

.sentiment-wrapper > div {
    display: inline-block;
    /*  max-width: 390px;*/
    padding: 15px;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
    background-color: #0000;
    font-size: 36px;
}

.sentiment-wrapper > div:hover {
    /*  background-color: #2a33bd00;*/
}

.sentiment-wrapper > div > div {
    width: 100%;
    text-align: left;
}

.opinion-header {
    position: relative;
    width: 100%;
    margin: 0 0 24px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #242a32;
    text-transform: capitalize;
}

.opinion-header > span:nth-child(2) {
    position: absolute;
    right: 0;
}

.opinion-header + div > span {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #363636;
}

@media screen and (max-width: 800px) {
    .aspect-label {
        max-height: 102px;
    }

    .aspect-content {
        height: auto;
        padding: 10px 87px 10px 30px;
    }
    .aspect-content:before {
        display: none;
    }
    .aspect-content:after {
        top: 0;
    }

    .aspect-content > div {
        display: block;
        width: 100%;
    }

    .aspect-stat {
        margin-top: 10px;
        text-align: left;
    }
}
@media screen and (max-width: 750px) {
    .sentiment-wrapper > div {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .sentiment-wrapper > div:not(:first-child) {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .aspect-label {
        max-height: 140px;
    }

    .aspect-stat > div {
        display: block;
        width: 100%;
    }

    .all-opinions {
        margin-bottom: 10px;
    }

    .all-opinions + div > span:first-child {
        margin: 0;
    }
}
