
@font-face {
    font-family: 'Neue Machina';
    src: url("font/neuema/NeueMachina-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'Neue Machina';
    src: url('font/neuema/NeueMachina-Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Neue Machina';
    src: url("font/neuema/NeueMachina-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url("font/neuema/NeueMachina-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Neue Machina';
    src: url("font/neuema/NeueMachina-Ultrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url("font/neuema/NeueMachina-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Neue Machina', sans-serif !important;
    font-size: 16px;
    overflow-x: hidden;
}

.fira {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Neue Machina', sans-serif !important;
    font-weight:900;
}

.align-center {
    align-items: center;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.ultrabold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

.font-80 {
    font-size: 80px;
}
.font-50 {
    font-size: 50px;
}

/*Xpathedge Website*/
/* OVERLAY
=========================== */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
}

.first {
    background: #000;
}

.second {
    background: #000;
    left: 33.3%;
}

.third {
    background: #000;
    left: 66.6%;
}


.banner {
    height: 100vh;
}

.banner__title {
    font-size:80px;
}

.options_sec {
    position: relative;
    top: -200px;
    height: 90vh;
}



li.active {
    border-bottom: 2px solid #fff;
}

li.active_dark {
    border-bottom: 2px solid #000;
}

.active_nav .nav-link {
    color: #fff;   
}

.border--right {
    border-right: 1px solid #707070;
}

.section__4 {
    background-color: #fff;
    height: 100vh
}

.section__4 h1, .section__4 p {
    color: #fff;
}

.section__4 img {
    display: none;
}

.color-black {
    background-color: #1C1C1C;
    transition: background-color 1s ease;
}

.color-black h1 {
    color: #FE2633;
}

.color-black p {
    color: #fff;
}

.color-black img {
    display: block;
}

/*Footer*/
.about-widget .email {
    font-size: 18px;
    color: #333333;
    margin: 15px 0 15px;
    display: block;
    font-family: "Calibre Regular", Arial, sans-serif !important;
}

.phone {
    font-size: 22px;
    color: #333333;
    font-family: "Calibre Regular", Arial, sans-serif !important;
}

.btn-trans {
    color: #1C1C1C;
    background-color: #0000;
    border-color: #1C1C1C !important;
}

.btn-trans:hover {
    color: #1C1C1C;
    background-color: #0000;
    border-color: #1C1C1C !important;
}

.btn--trans__white {
    color: #fff;
    background-color: #0000;
    border-color: #fff !important;
}

.btn--trans__white:hover {
    color: #fff;
    background-color: #0000;
    border-color: #fff !important;
}

.font-13 {
    font-size: 13px !important;
}

.text-wine {
    color: #FE2633;
}


.text-primary-default {
    color: #AA0000;
}


.text-primary-grey {
    color: #9A9A9A
}

.about_text_falling {
    line-height: 5rem; margin-top: 150px
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    word-wrap: break-word;
}

.swiper-container-horizontal > .swiper-pagination-progressbar {
    bottom: 0 !important;
    top: inherit !important;
}


/*footer-dark*/

.footer-1 {
    background-color: #292929;
}
/*

.footer-bg {
background-color: #f3f3f3;
background-image: url(../img/5d816b07d26938434adbcc98_image-footer-circle.svg);
}
*/

input.footer-form {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.footer-form::placeholder {
    font-size: 12px !important;
}

.footer-bg .title {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.footer-list ul li a {
    display: block;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
}

.footer-list ul li a:hover {
    color: #76797e;
    text-decoration: none;
}

.footer-information p {
    padding: 0 0 30px;
    color: #333333;
}

.footer-information ul li {
    display: inline-block;
}


.footer-information ul li a {
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 35px !important;
    color: #dbdbdb !important;
    margin-right: 10px !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.footer-2 {
    background-color: #000;
}

.bottom-footer {
    padding: 15px 0;
}

.bottom-footer p {
    /*	float: left;*/
    color: #8D8D8D;
    font-size: 11px;
}

.bottom-footer ul {
    /*	float: right;*/
    margin-bottom: 0px;
    padding-left: 0px;
}

.bottom-footer ul li {
    display: inline-block;
}

.bottom-footer ul li a {
    line-height: 28px;
    color: #8D8D8D;
    font-size: 11px;
    margin: auto 15px;
}

.bottom-footer ul li a:hover {
    color: #3152dc;
    text-decoration: none;
}

.footer--dotlight:before {
    content: "\A";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin-bottom: 2px;
    position: absolute;
    left: -7px;
    top: 2px;
}




/*footer-light*/


.footer__white {
    background-color: #fff;
}

input.footer_input--dark {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #292929;
    border-radius: 0px;
}

.footer_input--dark::placeholder {
    font-size: 12px !important;
}

.footer__title {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer--dark {
    color: #292929 !important;
}

.footer__list a {
    display: block;
    line-height: 38px;
    font-size: 14px;
}

a.footer--dark:hover {
    color: #76797e !important;
    text-decoration: none;
}


.footer--dotdark:before {
    content: "\A";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #292929;
    display: inline-block;
    margin-bottom: 2px;
    position: absolute;
    left: -7px;
    top: 2px;
}


.footer-information p {
    padding: 0 0 30px;
    color: #333333;
}

.footer-information ul li {
    display: inline-block;
}


.footer-information ul li a {
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 35px !important;
    color: #dbdbdb !important;
    margin-right: 10px !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.footer__white--accent {
    background-color: #EFEFEF;
}

.bottom-footer {
    padding: 15px 0;
}

.bottom-footer p {
    /*	float: left;*/
    color: #8D8D8D;
    font-size: 11px;
}

.bottom-footer ul {
    /*	float: right;*/
    margin-bottom: 0px;
    padding-left: 0px;
}

.bottom-footer ul li {
    display: inline-block;
}

.bottom-footer ul li a {
    line-height: 28px;
    color: #8D8D8D;
    font-size: 11px;
    margin: auto 15px;
}

.bottom-footer ul li a:hover {
    color: #3152dc;
    text-decoration: none;
}

.work__detail img {
    width: 414px;
    height: 489px;
}

.accolades ul li {
    border-top: 1px solid #707070;
}

.dotdark:before {
    content: "\A";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #292929;
    display: inline-block;
    margin-bottom: 2px;
    position: absolute;
    left: -20px;
    position: absolute;
}

.glitch-wrapper {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.glitch {
    color: white;
    /*    font-size: 150px;*/
    text-transform: upercase;
    position: relative;
    display: inline-block;
}
.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a1292a;
}
.glitch::before {
    left: 2px;
    text-shadow: -2px 0 #49FC00;
    clip: rect(24px, 550px, 90px, 0);
    /*    animation: glitch-anim-2 3s infinite linear alternate-reverse;*/
    animation: glitch-anim-2 10s  linear alternate-reverse;
}
.glitch::after {
    left: -2px;
    text-shadow: -2px 0 #b300fc;
    clip: rect(85px, 550px, 140px, 0);
    /*    animation: glitch-anim 2.5s infinite linear alternate-reverse;*/
    animation: glitch-anim 10s  linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
    0% {
        clip: rect(118px, 9999px, 141px, 0);
    }
    4.166666666666666% {
        clip: rect(66px, 9999px, 76px, 0);
    }
    8.333333333333332% {
        clip: rect(84px, 9999px, 70px, 0);
    }
    12.5% {
        clip: rect(95px, 9999px, 76px, 0);
    }
    16.666666666666664% {
        clip: rect(136px, 9999px, 27px, 0);
    }
    20.833333333333336% {
        clip: rect(119px, 9999px, 106px, 0);
    }
    25% {
        clip: rect(137px, 9999px, 147px, 0);
    }
    29.166666666666668% {
        clip: rect(144px, 9999px, 2px, 0);
    }
    33.33333333333333% {
        clip: rect(106px, 9999px, 133px, 0);
    }
    37.5% {
        clip: rect(130px, 9999px, 124px, 0);
    }
    41.66666666666667% {
        clip: rect(23px, 9999px, 23px, 0);
    }
    45.83333333333333% {
        clip: rect(74px, 9999px, 121px, 0);
    }
    50% {
        clip: rect(102px, 9999px, 87px, 0);
    }
    54.166666666666664% {
        clip: rect(57px, 9999px, 57px, 0);
    }
    58.333333333333336% {
        clip: rect(125px, 9999px, 52px, 0);
    }
    62.5% {
        clip: rect(25px, 9999px, 46px, 0);
    }
    66.66666666666666% {
        clip: rect(15px, 9999px, 134px, 0);
    }
    70.83333333333334% {
        clip: rect(137px, 9999px, 114px, 0);
    }
    75% {
        clip: rect(8px, 9999px, 106px, 0);
    }
    79.16666666666666% {
        clip: rect(131px, 9999px, 122px, 0);
    }
    83.33333333333334% {
        clip: rect(146px, 9999px, 61px, 0);
    }
    87.5% {
        clip: rect(43px, 9999px, 1px, 0);
    }
    91.66666666666666% {
        clip: rect(29px, 9999px, 9px, 0);
    }
    95.83333333333334% {
        clip: rect(131px, 9999px, 18px, 0);
    }
    100% {
        clip: rect(99px, 9999px, 24px, 0);
    }
}
@keyframes glitch-anim {
    0% {
        clip: rect(118px, 9999px, 141px, 0);
    }
    4.166666666666666% {
        clip: rect(66px, 9999px, 76px, 0);
    }
    8.333333333333332% {
        clip: rect(84px, 9999px, 70px, 0);
    }
    12.5% {
        clip: rect(95px, 9999px, 76px, 0);
    }
    16.666666666666664% {
        clip: rect(136px, 9999px, 27px, 0);
    }
    20.833333333333336% {
        clip: rect(119px, 9999px, 106px, 0);
    }
    25% {
        clip: rect(137px, 9999px, 147px, 0);
    }
    29.166666666666668% {
        clip: rect(144px, 9999px, 2px, 0);
    }
    33.33333333333333% {
        clip: rect(106px, 9999px, 133px, 0);
    }
    37.5% {
        clip: rect(130px, 9999px, 124px, 0);
    }
    41.66666666666667% {
        clip: rect(23px, 9999px, 23px, 0);
    }
    45.83333333333333% {
        clip: rect(74px, 9999px, 121px, 0);
    }
    50% {
        clip: rect(102px, 9999px, 87px, 0);
    }
    54.166666666666664% {
        clip: rect(57px, 9999px, 57px, 0);
    }
    58.333333333333336% {
        clip: rect(125px, 9999px, 52px, 0);
    }
    62.5% {
        clip: rect(25px, 9999px, 46px, 0);
    }
    66.66666666666666% {
        clip: rect(15px, 9999px, 134px, 0);
    }
    70.83333333333334% {
        clip: rect(137px, 9999px, 114px, 0);
    }
    75% {
        clip: rect(8px, 9999px, 106px, 0);
    }
    79.16666666666666% {
        clip: rect(131px, 9999px, 122px, 0);
    }
    83.33333333333334% {
        clip: rect(146px, 9999px, 61px, 0);
    }
    87.5% {
        clip: rect(43px, 9999px, 1px, 0);
    }
    91.66666666666666% {
        clip: rect(29px, 9999px, 9px, 0);
    }
    95.83333333333334% {
        clip: rect(131px, 9999px, 18px, 0);
    }
    100% {
        clip: rect(99px, 9999px, 24px, 0);
    }
}
@-webkit-keyframes glitch-anim-2 {
    6.666666666666667% {
        clip: rect(126px, 9999px, 68px, 0);
    }
    10% {
        clip: rect(8px, 9999px, 52px, 0);
    }
    13.333333333333334% {
        clip: rect(26px, 9999px, 118px, 0);
    }
    16.666666666666664% {
        clip: rect(146px, 9999px, 27px, 0);
    }
    20% {
        clip: rect(88px, 9999px, 130px, 0);
    }
    23.333333333333332% {
        clip: rect(141px, 9999px, 12px, 0);
    }
    26.666666666666668% {
        clip: rect(68px, 9999px, 100px, 0);
    }
    30% {
        clip: rect(102px, 9999px, 129px, 0);
    }
    33.33333333333333% {
        clip: rect(54px, 9999px, 69px, 0);
    }
    36.666666666666664% {
        clip: rect(81px, 9999px, 122px, 0);
    }
    40% {
        clip: rect(73px, 9999px, 75px, 0);
    }
    43.333333333333336% {
        clip: rect(38px, 9999px, 111px, 0);
    }
    46.666666666666664% {
        clip: rect(57px, 9999px, 2px, 0);
    }
    50% {
        clip: rect(99px, 9999px, 43px, 0);
    }
    53.333333333333336% {
        clip: rect(19px, 9999px, 21px, 0);
    }
    56.666666666666664% {
        clip: rect(51px, 9999px, 130px, 0);
    }
    60% {
        clip: rect(42px, 9999px, 127px, 0);
    }
    63.33333333333333% {
        clip: rect(51px, 9999px, 145px, 0);
    }
    66.66666666666666% {
        clip: rect(102px, 9999px, 56px, 0);
    }
    70% {
        clip: rect(49px, 9999px, 51px, 0);
    }
    73.33333333333333% {
        clip: rect(54px, 9999px, 92px, 0);
    }
    76.66666666666667% {
        clip: rect(33px, 9999px, 114px, 0);
    }
    80% {
        clip: rect(142px, 9999px, 89px, 0);
    }
    83.33333333333334% {
        clip: rect(34px, 9999px, 93px, 0);
    }
    86.66666666666667% {
        clip: rect(17px, 9999px, 90px, 0);
    }
    90% {
        clip: rect(139px, 9999px, 54px, 0);
    }
    93.33333333333333% {
        clip: rect(51px, 9999px, 121px, 0);
    }
    96.66666666666667% {
        clip: rect(79px, 9999px, 48px, 0);
    }
    100% {
        clip: rect(126px, 9999px, 94px, 0);
    }
}
@keyframes glitch-anim-2 {
    6.666666666666667% {
        clip: rect(126px, 9999px, 68px, 0);
    }
    10% {
        clip: rect(8px, 9999px, 52px, 0);
    }
    13.333333333333334% {
        clip: rect(26px, 9999px, 118px, 0);
    }
    16.666666666666664% {
        clip: rect(146px, 9999px, 27px, 0);
    }
    20% {
        clip: rect(88px, 9999px, 130px, 0);
    }
    23.333333333333332% {
        clip: rect(141px, 9999px, 12px, 0);
    }
    26.666666666666668% {
        clip: rect(68px, 9999px, 100px, 0);
    }
    30% {
        clip: rect(102px, 9999px, 129px, 0);
    }
    33.33333333333333% {
        clip: rect(54px, 9999px, 69px, 0);
    }
    36.666666666666664% {
        clip: rect(81px, 9999px, 122px, 0);
    }
    40% {
        clip: rect(73px, 9999px, 75px, 0);
    }
    43.333333333333336% {
        clip: rect(38px, 9999px, 111px, 0);
    }
    46.666666666666664% {
        clip: rect(57px, 9999px, 2px, 0);
    }
    50% {
        clip: rect(99px, 9999px, 43px, 0);
    }
    53.333333333333336% {
        clip: rect(19px, 9999px, 21px, 0);
    }
    56.666666666666664% {
        clip: rect(51px, 9999px, 130px, 0);
    }
    60% {
        clip: rect(42px, 9999px, 127px, 0);
    }
    63.33333333333333% {
        clip: rect(51px, 9999px, 145px, 0);
    }
    66.66666666666666% {
        clip: rect(102px, 9999px, 56px, 0);
    }
    70% {
        clip: rect(49px, 9999px, 51px, 0);
    }
    73.33333333333333% {
        clip: rect(54px, 9999px, 92px, 0);
    }
    76.66666666666667% {
        clip: rect(33px, 9999px, 114px, 0);
    }
    80% {
        clip: rect(142px, 9999px, 89px, 0);
    }
    83.33333333333334% {
        clip: rect(34px, 9999px, 93px, 0);
    }
    86.66666666666667% {
        clip: rect(17px, 9999px, 90px, 0);
    }
    90% {
        clip: rect(139px, 9999px, 54px, 0);
    }
    93.33333333333333% {
        clip: rect(51px, 9999px, 121px, 0);
    }
    96.66666666666667% {
        clip: rect(79px, 9999px, 48px, 0);
    }
    100% {
        clip: rect(126px, 9999px, 94px, 0);
    }
}
